.sub-heading-wrapper {

    .sub-heading {
        margin-top: 25px;
        border-top: 1px solid;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        padding: 20px;
        text-decoration: underline;
        text-align: left;
        text-transform: uppercase;
    }

    .carousel-wrapper {
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
    }
}